.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFEEF;
    font-size: x-large;
}

.contact-container h1 {
    font-size: 8vh;
}

.contact-container div {
    margin-top: 2vh;
    margin-bottom: 1vh;
}
.contact-container a {
    margin: 1vh;
}