.home-container {
    display: block;
    justify-content: center;
    color: #FFFEEF;
}

.home-container h1 {
    text-align: center;
    font-size: 8vh;
}

.home-container div {
    margin: 1vw;
    font-size: large;
}