.projects-container {
    color: #FFFEEF;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.projects-header {
    text-align: center;
    font-size: 8vh;
    margin-bottom: 3vh;
}

.projects-options {
    width: 45%;
    font-size: xx-large;
    margin-left: 2vw;
    background-color: #31683f;
    color: #FFFEEF;
    display: flex;
    justify-content: space-evenly;
    gap: 1vh;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 0.5vw;
    @media screen and (max-width: 768px) {
        width: 80%;
        flex-direction: column;
        align-items:  center;
    }
}

.projects-options div {
    cursor: pointer;
}

.projects-options-highlight {
    color: #00FF4C;
}