.project-container {
    width: 95vw;
    color: #EFFDFF;
}

.project-container-container
{
    background-color: #2b707b;
    padding: 10px;
    gap: 1%;
    border-radius: 3%;
}

.project-container-container p {
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: large;
}

.project-information-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px
}

.project-information {
    text-align: center;
    width: 100%;
}

.project-information-nolink {
    font-weight: bold;
    font-size: xxx-large;
}

.project-information-info {
    font-weight: bold;
    font-size:larger;
}

.project-information a {
    font-weight: bold;
    font-size: xxx-large;
}

.project-information-img-container
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.project-information-img-container img {
    width: 25vw;
    height: auto;
}