.project-container {
    width: 95vw;
    color: #FFFEEF;
}

.project-container-container
{
    background-color: #31683f;
    padding: 0.5vw;
    gap: 1%;
    border-radius: 1%;
}

.project-container-container p {
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: large;
}

.project-information-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1vw;
    gap: 2vh;
}

.project-information {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.project-information-nolink {
    font-weight: bold;
    font-size: xxx-large;
}

.project-information-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-information-info {
    font-weight: bold;
    font-size: larger;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.project-information-info-value {
    font-weight: normal;
}

.project-information a {
    font-weight: bold;
    font-size: xxx-large;
}

.project-information-img-container
{
    width: 100%;
    display: flex;
    justify-content: center;
}
.project-information-img-container img {
    width: 25vw;
    height: auto;
}