.project-container {
    width: 100%;
    color: #FFFEEF;
}

.project-container-container
{
    background-color: #31683f;
    padding: 0.5vw;
    gap: 1%;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container-container p {
    width: 95%;
    font-size: x-large;
}

.project-information-container {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    gap: 2vh;
    align-items: center;
    width: 95%
}

.project-information-container a {
    font-weight: bold;
    font-size: xxx-large;
    text-align: center;
}

.project-information-container a:link {
    color: white;
}

.project-information-container a:hover {
    color: #34d9ff;
}

.project-information-container a:visited {
    color: #4c147b;
}

.project-information {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 2vw;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
}

.project-information-nolink {
    font-weight: bold;
    font-size: xxx-large;
}

.project-information-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-information-info {
    font-weight: bold;
    font-size: x-large;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 1vw;

    @media screen and (max-width: 768px) {
        gap: 2vw;
    }
}

.project-information-info-value {
    font-weight: normal;
}

.project-information-img-container
{
    width: 25vw;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 768px) {
        width: 75%;
    }
}
.project-information-img-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}